@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source Sans Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source Sans Pro:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');


/*Rules: IDs big*/

/*Primary color:     color: rgb(0, 140, 255);
/*Secondary     color: rgb(0, 204, 255);
/* background-color: rgb(23, 23, 28); */


/*COLORS*/

body {
    background-color: rgb(23, 23, 28);
    color: rgb(44, 188, 51);
    font-size: 2vw;

    size: 100%;
    overflow-x: hidden;

    margin: 0 0 Auto 0;

    overflow-y: scroll;
}

#burger {
    display: none;
}

#NavBar {

    background-color: rgba(23, 23, 28, 0.1);
    backdrop-filter: blur(20px);
}

.NavButton {
    font-family: 'Source Sans Pro';

    font-weight: 300;

    color: rgb(0, 140, 255);

    text-decoration: none;

    background-color: rgba(255, 255, 255, 0);

    box-shadow: none;
}

.NavButton:hover {
    color: rgb(225, 0, 255);
}

.translateButton.active {
    color: rgb(225, 0, 255);
}

button,
.jump,
.btn {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;

    color: rgb(255, 255, 255);
    background-color: rgba(0, 140, 255, 0.2);
    border-color: rgba(255, 255, 255, 1);

    text-decoration: none;

    box-shadow: none;
}

button:hover,
.btn:hover {
    color: rgb(23, 23, 28);
    background-color: rgb(225, 0, 255);
    border-color: rgb(225, 0, 255);
}

a.jump:hover {
    color: rgb(23, 23, 28);
    background-color: rgb(225, 0, 255);
    border-color: rgb(225, 0, 255);
}

.slash {
    color: white;
}

h1 {
    font-family: 'Italiana';
    font-style: normal;
    color: rgba(255, 255, 255, 0.2);
    position: relative;
}

h2 {
    font-family: 'Italiana';
    font-style: 'regular';
    color: rgba(255, 255, 255, 0.4);
}

h3 {
    font-family: 'Italiana', sans-serif;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.4);
}

h4 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    color: white;
}


.default {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    color: white;
}

.small {
    font-family: 'Source Sans Pro';
    font-weight: 100;
    color: white;
}

/*Hover-Effekt*/

.small_icon .blue {
    z-index: 11;
}

.small_icon .pink {
    z-index: 10;
}

img.small_icon {
    position: absolute;
}

img.small_icon:nth-child(2):hover {
    display: none;
    right: 0vw;
    top: 0vw;
}

img.small_icon:nth-child(1):hover {
    display: inline;
    right: 0vw;
    top: 0vw;
}

/* FORM */
label {
    font-family: 'Source Sans Pro';
    font-weight: 200;
    color: white;
}

input,
textarea {

    font-family: 'Source Sans Pro';
    font-weight: 200;
    letter-spacing: 0.1vw;

    color: rgb(0, 140, 255);

    background-color: rgb(23, 23, 28);
}

textarea:hover {
    border-color: rgb(225, 0, 255);
    color: white;
}

input:hover {
    border-color: rgb(225, 0, 255);
    color: white;
}

textarea:focus {
    border-color: rgb(225, 0, 255);
    color: white;
}

input:focus {
    border-color: rgb(225, 0, 255);
}

.e_captcha,
.e_subject,
.e_message {
    display: none;
}

span.alert {
    font-size: 15px;
    color: rgb(255, 0, 0);
}

/*BIGGEST SCREEN*/
@media screen and (min-width:1081px) {

    /* I. */
    /* I. 1. BASICS*/

    html,
    body {
        width: 100%;
    }

    body {
        overflow-x: hidden;
    }

    /*Navigation start*/
    #NavBar {

        min-height: 4.8vw;

        position: fixed;
        top: 0;

        width: 100vw;
        padding-left: 10vw;
        padding-right: 10vw;

        z-index: 100;
    }

    #NavBarDiv {

        position: fixed;
        top: 0;

        width: 80vw;

        padding-bottom: 1vw;
        padding-top: 1vw;

        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: flex-end;

    }

    #NavBar .spacer {
        min-width: 5vw;
        max-width: 20vw;
    }

    .slash {
        width: 1vw;
    }

    /*Navigation End*/

    .NavButton {

        font-size: 1.5vw;

        border-style: none;

        margin: 0.1vw 0.1vw 0.1vw 0.1vw;
        padding: 0.1vw 0.1vw 0.1vw 0.1vw;

        cursor: pointer;
    }

    /*Buttons*/
    button,
    a.jump,
    .btn {
        font-size: 1.8vw;

        border: 0.05vw;
        border-radius: 0.2vw;
        border-style: solid;

        margin-top: 3vw;
        margin-bottom: 4vw;

        display: inline-block;
        padding: 0.7vw 2.5vw 0.9vw 2.5vw;

        max-width: 20vw;
        min-width: 7vw;

        cursor: pointer;
    }

    /* I. 2. TYPOGRAPHY */
    h1 {
        font-size: 7vw;
        line-height: 6.5vw;

        position: absolute;
        top: 9vw;
        left: 7vw;

        width: 50vw;

        z-index: 90;
    }

    h2 {
        font-size: 5vw;
        line-height: 5vw;
        letter-spacing: Auto;

        margin: 0 0 7vw 0;
        padding: 0 2vw 0 0;

        text-align: end;

        max-width: 80vw;
        min-width: 30vw;
    }

    .structure {

        margin: 5vw 0 5vw 0vw;

        height: auto;
        width: auto;

        display: flex;
        align-items: flex-end;
        flex-direction: column;
        position: relative;
        right: -10vw;
    }

    .structure > h3 {
        padding-right: 10vw;
    }

    .line {
        height: 0.15vw;
        background-color: rgba(0, 140, 255, 0.6);
        position: relative;
        top: 1.5vw;
        width: 20vw;
        border-radius: 0.2vw;
    }

    h3 {
        font-size: 3vw;
        line-height: 0.2vw;
        letter-spacing: 0vw;

        text-align: end;

        overflow-x: visible;
    }

    h4 {
        font-size: 2.25vw;
        line-height: 2.4vw;
        letter-spacing: 0vw;

        padding: 0 0 0 0;
        margin: 0 0 1vw 0;

        text-align: start;
    }


    .default {
        font-size: 1.7vw;
        line-height: 2.3vw;
        letter-spacing: 0vw;

        text-align: start;
        vertical-align: top;

        max-width: 40vw;

        /* background-color: rgba(127, 255, 212, 0.514); */
    }

    .small {

        font-size: 1.3vw;
        line-height: 1.9vw;
        letter-spacing: 0.1vw;

        margin-top: 0;

        text-align: left;
        vertical-align: top;
    }

    /*I. 3. ICONS & LINKS*/
    .small_icon {
        display: block;
        height: 2vw;
        width: 2vw;
        margin-bottom: 1vw;
    }

    /*I. 4. CONTAINERS, HIGHTS, MARGINS*/
    .flex_row_space_between {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between
    }

    .flex_row_right {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2vw;
        justify-content: flex-end;
        padding-right: 2vw;
    }

    .justify {
        justify-content: space-between;
    }

    .align_items_start {
        align-items: start;
    }

    .align_items_center {
        align-items: center;
    }

    .height_1point5vw {
        height: 1.5vw;
    }

    .height_2vw {
        height: 2vw;
    }

    .mb_2point5vw {
        margin: 0 0 2.5vw 0;
    }

    .height_3vw {
        height: 3vw;
    }

    .height_4vw {
        height: 4vw;
    }

    .height_5vw {
        height: 5vw;
    }

    /*I. 5. SPECIAL ELEMENTS*/

    /* I.5.1 Card - Grid */
    .card {
        padding-top: 0vw;
        margin-top: 2vw;
        margin-bottom: 2.5vw;

        display: grid;

        grid-template-rows: Auto 1fr;
        grid-template-columns: 1fr Auto;
        grid-column-gap: 1.2vw;
        grid-row-gap: 2vw;
    }

    .name {
        grid-column: 1;
        grid-row: 1;
        min-height: 1.4vw;
        max-height: 2.8vw;
        align-items: start;

        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;

        align-items: flex-start;
        margin-bottom: 1.4vw;

        /* background-color: aqua; */
    }

    .links {
        grid-column: 2;
        grid-row: 1;

        align-items: flex-start;

        flex-wrap: nowrap;


        /* background-color: blue; */
    }

    .explanation {
        grid-column: 1 / 3;
        grid-row: 2;
        margin-top: 0;
        align-items: start;
        /* background-color: blanchedalmond; */
    }

    /* I.5.2 Section -Grid */
    .two_columns_grid {
        width: 80vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-column-gap: 10vw;
        grid-row-gap: 4vw;

        overflow-x: visible;
    }

    .two_columns_grid>h2 {
        grid-column: 1 / 3;
        grid-row: 1;
    }

    /* II. SECTIONS*/
    /*II. 0.*/

    section {
        width: 80vw;
        margin: 5vw 10vw 5vw 10vw;
        overflow-x: visible;
    }

    /*SPLASH GRID*/
    #Splash {
        min-height: 200vh;

        padding-top: 10vw;

        display: grid;

        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

        gap: 2vw 7vw;

        overflow-x: visible;
    }

    #Splash .first {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
        overflow-x: hidden;
        height: 39vw;

        padding-bottom: 8vw;
        /* background-color: rgba(0, 255, 255, 0.562); */
    }

    #Splash .right {
        grid-column-start: 5;
        grid-column-end: 8;
        grid-row-start: 1;
        grid-row-end: 6;
        overflow-x: hidden;
        /* background-color: rgb(149, 153, 148); */
    }

    #Splash .third {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
        /* background-color: rgba(199, 255, 94, 0.356); */
    }

    #what_can_i_do>div {
        margin-bottom: 3vw;
    }

    #Splash h2 {
        text-align: left;
        margin: 0 0 3vw 0;
    }

    /*II. 1.*/
    #support_and_subscribe {
        overflow-x: visible;
    }

    /*II.2. Contact*/
    #Contact {
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: space-between;

        padding: 10vw 10vw 10vw 10vw;

        width: 100vw;

        overflow-x: hidden;
    }

    form {
        display: flex;
        flex-direction: column;
        max-width: 50vw;
        margin: 10vw 10vw 10vw 10vw;
    }

    label {
        font-size: 1.5vw;

        line-height: 1.5vw;
        letter-spacing: 0.05vw;
        text-align: Left;

        vertical-align: Top;
        margin-top: 0;
        margin-bottom: 0.5vw;
    }

    input,
    textarea {

        font-size: 1.5vw;
        line-height: 1.5vw;

        border: 0.05vw;
        border-radius: 0.4vw;
        border-style: solid;

        padding: 0.8vw 1vw 0.8vw 1vw;
        margin-bottom: 1.5vw;

        width: 50vw;
    }

    textarea {
        min-height: 10vw;
    }

    #Contact button {
        float: right;
    }
}

/*BIG SCREEN*/
@media screen and (min-width:641px) and (max-width:1080px) {
    /* I. */
    /* I. 1. BASICS*/

    html,
    body {
        width: 100%;
    }

    body {
        overflow-x: hidden;
    }

    /*Navigation start*/
    #NavBar {

        min-height: 6vw;

        position: fixed;
        top: 0;

        width: 100vw;
        padding-left: 5vw;
        padding-right: 5vw;

        overflow-y: visible;
        overflow-x: visible;

        z-index: 100;
    }

    #NavBarDiv {

        position: fixed;
        top: 0;

        width: 86vw;

        padding-bottom: 3vw;
        padding-top: 2vw;

        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: flex-end;

        z-index: 99;
    }

    #NavBar .spacer {
        min-width: 3vw;
        max-width: 5vw;
    }

    .slash {
        width: 1vw;
    }

    /*Navigation End*/

    .NavButton {

        font-size: 2.3vw;

        border-style: none;

        margin: 0.1vw 0.1vw 0.1vw 0.1vw;
        padding: 0.1vw 0.1vw 0.1vw 0.1vw;

        cursor: pointer;
    }

    /*Buttons*/
    button,
    a.jump {
        font-size: 3vw;

        border: 0.1vw;
        border-radius: 0.3vw;
        border-style: solid;

        margin-top: 3vw;
        margin-bottom: 4vw;

        display: inline-block;
        padding: 0.7vw 2.5vw 0.9vw 2.5vw;

        max-width: 20vw;
        min-width: 7vw;

        cursor: pointer;
    }

    /* I. 2. TYPOGRAPHY */
    h1 {
        font-size: 6vw;
        line-height: 6.5vw;

        z-index: 90;
    }

    h2 {
        font-size: 4.5vw;
        line-height: 4.5vw;
        letter-spacing: Auto;

        margin: 0 0 5vw 0;
        padding: 0 2vw 0 0;

        text-align: start;

        max-width: 86vw;
        min-width: 30vw;
    }

    h3 {
        font-size: 4vw;
        line-height: 4vw;
        letter-spacing: 0vw;

        margin: 5vw Auto 3vw Auto;

    }

    h4 {
        font-size: 3.4vw;
        line-height: 3.7vw;
        letter-spacing: 0vw;

        margin: 0 Auto Auto Auto;

    }

    .default {
        font-size: 2.5vw;
        line-height: 4vw;
        letter-spacing: 0vw;

        text-align: start;
        vertical-align: top;

        max-width: 60vw;
        /* background-color: rgba(127, 255, 212, 0.514); */
    }

    .small {
        font-size: 2.3vw;
        line-height: 3.2vw;
        letter-spacing: 0.07vw;

        margin-top: 0;

        text-align: left;
    }

    /*I. 3. ICONS & LINKS*/
    .small_icon {
        display: block;
        height: 3.5vw;
        width: 3.5vw;
    }

    /*I. 4. CONTAINERS, HIGHTS, MARGINS*/
    .flex_row_space_between {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between
    }

    .flex_row_right {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 3vw;
        justify-content: flex-end;
    }

    .justify {
        justify-content: space-between;
    }

    .align_items_start {
        align-items: start;
    }

    .align_items_center {
        align-items: center;
    }

    .height_1point5vw {
        height: 1.5vw;
    }

    .height_2vw {
        height: 2vw;
    }

    .mb_2point5vw {
        margin: 0 0 2.5vw 0;
    }

    .height_3vw {
        height: 3vw;
    }

    .height_4vw {
        height: 4vw;
    }

    .height_5vw {
        height: 5vw;
    }

    /*I. 5. SPECIAL ELEMENTS*/

    /* I.5.1 Card - Grid */
    .card {
        margin-top: 0 Auto 2vw Auto;

        display: grid;

        grid-template-columns: 30vw Auto;
        grid-template-rows: Auto 1fr;
        grid-row-gap: 3vw;

        margin-bottom: 5vw;

/*
        background-color: red; */
    }

    .name {
        grid-column: 1;
        grid-row: 1;

        display: block;

        align-content: center;
        justify-content: start;
        text-align: start;
        /* background-color: aqua; */
    }

    .links {
        grid-column: 1;
        grid-row: 2;


        display: flex;
        flex-direction: row;
        gap: 5vw;

        align-content: start;
        justify-content: start

        /* background-color: blue; */
    }

    .explanation {
        grid-column: 2;
        grid-row: 1 / 3;
        margin-top: 0;

        align-items: start;

        max-width: 60vw;
        /* background-color: blanchedalmond; */
    }

    /* I.5.2 Section -Grid */
    .two_columns_grid {
        width: 80vw;
        display: flex;
        flex-direction: column;

        gap: 5vw;
    }

    .two_columns_grid>h2 {
        grid-column: 1 / 3;
        grid-row: 1;
    }

    /* II. SECTIONS*/
    /*II. 0.*/

    section {
        width: 80vw;
        margin: 10vw 10vw 5vw 10vw;
        overflow-x: visible;
    }

    /*SPLASH GRID*/
    #Splash {
        min-height: 200vh;

        padding-top: 10vw;

        display: grid;

        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

        overflow-x: visible;
    }

    #Splash .first {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
        overflow-x: visible;
        /* background-color: rgba(0, 255, 255, 0.562); */
    }

    #Splash .right {
        grid-column-start: 2;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 3;
        overflow-x: hidden;
        /* background-color: rgb(149, 153, 148); */
    }

    #Splash .third {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 4;

        padding-top: 5vw;
        /* background-color: rgba(199, 255, 94, 0.356); */
    }

    #what_can_i_do>div {
        margin-bottom: 3vw;
    }

    #Splash h2 {
        text-align: left;
        margin: 0 0 3vw 0;
    }

    /*II. 1.*/
    #support_and_subscribe {
        overflow-x: hidden;
    }

    /*II.2. Contact*/
    #Contact {
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: space-between;

        padding: 10vw 10vw 10vw 10vw;

        width: 100vw;

        overflow-x: hidden;
    }

    form {
        display: flex;
        flex-direction: column;
        max-width: 60vw;
        margin: 10vw 10vw 10vw 10vw;
    }

    label {
        font-size: 2.2vw;

        line-height: 2.2vw;
        letter-spacing: 0.05vw;
        text-align: Left;

        vertical-align: top;
    }

    input,
    textarea {

        font-size: 2.5vw;
        line-height: 2.5vw;

        border: 0.1vw;
        border-radius: 0.4vw;
        border-style: solid;

        padding: 0.8vw 1vw 0.8vw 1vw;
        margin-top: 1vw;
        margin-bottom: 2.5vw;

        width: 60vw;
    }


    textarea {
        min-height: 10vw;
    }

    #Contact button {
        float: right;
    }
}

/*MID SCREEN*/
@media screen and (min-width: 341px) and (max-width:640px) {

    /* I. */
    /* I. 1. BASICS*/

    html,
    body {
        width: 100%;
    }

    body {
        overflow-x: hidden;
    }

    /*Navigation start*/
    #NavBar {

        position: fixed;
        top: 0;

        width: 100vw;
        padding-left: 7vw;
        padding-right: 7vw;

        z-index: 99;
    }

    #NavBarDiv {

        position: fixed;
        top: 0;

        width: 86vw;

        padding-bottom: 3vw;
        padding-top: 2vw;

        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: flex-end;

        backdrop-filter: blur(0.5vw);

        z-index: 99;
    }

    #NavBar .spacer {
        min-width: 3vw;
        max-width: 5vw;
    }

    .slash {
        width: 1vw;
    }

    /*Navigation End*/

    .NavButton {

        font-size: 2.3vw;

        border-style: none;

        margin: 0.1vw 0.1vw 0.1vw 0.1vw;
        padding: 0.1vw 0.1vw 0.1vw 0.1vw;

        cursor: pointer;
    }

    /*Buttons*/
    button,
    a.jump {
        font-size: 4vw;

        border: 0.1vw;
        border-radius: 0.9vw;
        border-style: solid;

        margin-top: 3vw;
        margin-bottom: 4vw;

        display: inline-block;
        padding: 1vw 3.5vw 1.2vw 3.5vw;

        max-width: 50vw;
        min-width: 7vw;

        cursor: pointer;
    }

    /* I. 2. TYPOGRAPHY */
    h1 {
        font-size: 6vw;
        line-height: 6.5vw;

        z-index: 90;
    }

    h2 {
        font-size: 5vw;
        line-height: 5vw;
        letter-spacing: Auto;

        margin: 0 0 5vw 0;
        padding: 0 2vw 0 0;

        text-align: start;

        max-width: 86vw;
        min-width: 30vw;
    }

    h3 {
        font-size: 6vw;
        line-height: 6vw;
        letter-spacing: 0vw;

        margin: 4vw Auto 7vw Auto;

    }

    h4 {
        font-size: 5vw;
        line-height: 5vw;
        letter-spacing: 0.3vw;

        margin: 0 Auto Auto Auto;

    }

    .default {
        font-size: 3.5vw;
        line-height: 5vw;
        letter-spacing: 0vw;

        text-align: start;
        vertical-align: top;

        max-width: 65vw;
        /* background-color: rgba(127, 255, 212, 0.514); */
    }

    .small {
        font-size: 3.5vw;
        line-height: 5vw;
        letter-spacing: 0.1vw;

        margin-top: 0;

        text-align: left;
    }

    /*I. 3. ICONS & LINKS*/
    .small_icon {
        display: block;
        height: 4vw;
        width: 4vw;
    }

    /*I. 4. CONTAINERS, HIGHTS, MARGINS*/
    .flex_row_space_between {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between
    }

    .flex_row_right {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 3vw;
        justify-content: flex-end;
    }

    .justify {
        justify-content: space-between;
    }

    .align_items_start {
        align-items: start;
    }

    .align_items_center {
        align-items: center;
    }

    .height_1point5vw {
        height: 1.5vw;
    }

    .height_2vw {
        height: 2vw;
    }

    .mb_2point5vw {
        margin: 0 0 2.5vw 0;
    }

    .height_3vw {
        height: 3vw;
    }

    .height_4vw {
        height: 4vw;
    }

    .height_5vw {
        height: 5vw;
    }

    /*I. 5. SPECIAL ELEMENTS*/

    /* I.5.1 Card - Grid */
    .card {
        margin-top: 0 Auto 2vw Auto;

        display: grid;

        grid-template-columns: Auto;
        grid-template-rows: Auto;
        grid-row-gap: 3vw;

        margin-bottom: 15vw;
    }

    .name {
        grid-column: 1;
        grid-row: 1;

        display: block;

        align-content: center;
        justify-content: start;
        text-align: start;
        /* background-color: aqua; */
    }

    .links {
        grid-column: 1;
        grid-row: 3;

        display: flex;
        flex-direction: row;

        gap: 8vw;

        align-items: flex-end;

        /* background-color: blue; */
    }

    .explanation {
        grid-column: 1;
        grid-row: 2;

        align-items: start;

        max-width: 90vw;
        /* background-color: blanchedalmond; */
    }

    /* I.5.2 Section -Grid */
    .two_columns_grid {
        width: 80vw;
        display: flex;
        flex-direction: column;

        gap: 5vw;
    }

    .two_columns_grid>h2 {
        grid-column: 1 / 3;
        grid-row: 1;
    }

    /* II. SECTIONS*/
    /*II. 0.*/

    section {
        width: 86vw;
        margin: 10vw 7vw 5vw 7vw;
        overflow-x: visible;
    }

    /*SPLASH GRID*/
    #Splash {

        padding-top: 10vw;

        display: grid;

        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

        overflow-x: visible;
    }

    #Splash .first {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
        overflow-x: visible;
        /* background-color: rgba(0, 255, 255, 0.562); */
    }

    #Splash .right {
        grid-column-start: 2;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 3;
        overflow-x: hidden;
        /* background-color: rgb(149, 153, 148); */
    }

    #Splash .third {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 4;

        padding-top: 5vw;
        /* background-color: rgba(199, 255, 94, 0.356); */
    }

    #what_can_i_do>div {
        margin-bottom: 3vw;
    }

    #Splash h2 {
        text-align: left;
        margin: 0 0 3vw 0;
    }

    /*II. 1.*/
    #support_and_subscribe {
        overflow-x: hidden;
    }

    /*II.2. Contact*/
    #Contact {
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: space-between;

        padding: 10vw 5vw 10vw 5vw;

        width: 100vw;

        overflow-x: hidden;
    }

    form {
        display: flex;
        flex-direction: column;
        max-width: 86vw;
        margin: 0vw 0vw 0vw 0vw;
    }

    label {
        font-size: 3vw;

        line-height: 3.5vw;
        letter-spacing: 0.05vw;
        text-align: Left;

        vertical-align: top;
    }

    input,
    textarea {

        font-size: 3.5vw;
        line-height: 3.5vw;

        border: 0.1vw;
        border-radius: 0.7vw;
        border-style: solid;

        padding: 1vw 1.5vw 1vw 1.5vw;
        margin-top: 1vw;
        margin-bottom: 2.5vw;

        width: 80vw;
    }

    textarea {
        min-height: 10vw;
    }

    #Contact button {
        float: right;
    }
}

/*MINI SCREEN*/
@media screen and (max-width:340px) {

    /* I. */
    /* I. 1. BASICS*/

    html,
    body {
        width: 100%;
    }

    body {
        overflow-x: hidden;
    }

    /*Navigation start*/
    #NavBar {

        position: fixed;
        top: 0;

        width: 100vw;
        padding-left: 7vw;
        padding-right: 7vw;

        z-index: 99;
    }

    #NavBarDiv {

        position: fixed;
        top: 0;

        width: 86vw;

        padding-bottom: 3vw;
        padding-top: 2vw;

        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: flex-end;

        backdrop-filter: blur(0.5vw);

        z-index: 99;
    }

    #NavBar .spacer {
        min-width: 3vw;
        max-width: 5vw;
    }

    .slash {
        width: 1vw;
    }
    /*Navigation End*/

    .NavButton {

        font-size: 2.3vw;

        border-style: none;

        margin: 0.1vw 0.1vw 0.1vw 0.1vw;
        padding: 0.1vw 0.1vw 0.1vw 0.1vw;

        cursor: pointer;
    }

    /*Buttons*/
    button,
    a.jump {
        font-size: 4vw;

        border: 0.1vw;
        border-radius: 0.9vw;
        border-style: solid;

        margin-top: 5vw;
        margin-bottom: 6vw;

        display: inline-block;
        padding: 2vw 6vw 2vw 6vw;

        max-width: 50vw;
        min-width: 7vw;

        cursor: pointer;
    }

    /* I. 2. TYPOGRAPHY */
    h1 {
        font-size: 8vw;
        line-height: 8vw;

        z-index: 90;
    }

    h2 {
        font-size: 7vw;
        line-height: 7vw;
        letter-spacing: Auto;

        margin: 0 0 5vw 0;
        padding: 0 2vw 0 0;

        text-align: start;

        max-width: 86vw;
        min-width: 30vw;
    }

    h3 {
        font-size: 8vw;
        line-height: 6vw;
        letter-spacing: 0vw;

        margin: 0 Auto Auto Auto;

    }

    h4 {
        font-size: 6vw;
        line-height: 6vw;
        letter-spacing: 0vw;

        margin: 6vw Auto 2vw Auto;
    }

    .default {
        font-size: 4vw;
        line-height: 7vw;
        letter-spacing: 0vw;

        text-align: start;
        vertical-align: top;

        max-width: 86vw;
        /* background-color: rgba(127, 255, 212, 0.514); */
    }

    .small {
        font-size: 3.5vw;
        line-height: 5vw;
        letter-spacing: 0.1vw;

        margin-top: 0;

        text-align: left;

    }

    /*I. 3. ICONS & LINKS*/
    .small_icon {
        display: block;

        height: 6vw;
        width: 6vw;

        padding-right: 1vw;
    }

    /*I. 4. CONTAINERS, HIGHTS, MARGINS*/
    .flex_row_space_between {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .flex_row_right {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5vw;
        justify-content: flex-end;
    }

    /*I. 5. SPECIAL ELEMENTS*/
    /* I.5.1 Card - Grid */
    .card {
        margin-top: 0 Auto 2vw Auto;

        display: grid;

        grid-template-columns: 80vw;
        grid-template-rows: 1fr Auto 1fr;

        gap: 2vw;
    }

    .name {
        grid-column: 1;
        grid-row: 1;

        display: block;

        align-content: center;
        justify-content: start;
        text-align: start;
        /* background-color: aqua; */
    }

    .links {
        grid-column: 1;
        grid-row: 3;

        align-content: start;
        justify-content: start;

        display: flex;
        flex-direction: row;
        gap: 8vw;

        position: relative;
        top: -2vw;
        /* background-color: blue; */
    }

    .explanation {
        grid-column: 1;
        grid-row: 2 / 3;
        margin-top: 0;

        align-items: start;

        max-width: 86vw;
        /* background-color: blanchedalmond; */
    }

    /* I.5.2 Section -Grid */
    .two_columns_grid {
        width: 86vw;
        display: flex;
        flex-direction: column;

        gap: 8vw;
    }

    .two_columns_grid>h2 {
        grid-column: 1 / 3;
        grid-row: 1;
    }

    /* II. SECTIONS*/
    /*II. 0.*/

    section {
        width: 86vw;
        margin: 10vw 7vw 5vw 7vw;
        overflow-x: visible;
    }

    /*SPLASH GRID*/
    #Splash {

        padding-top: 10vw;

        display: grid;

        grid-template-columns: 86vw;
        grid-template-rows: repeat(Auto);

        overflow-x: visible;
    }

    #Splash .first {
        grid-column-start: 1 / 2;
        grid-row-start: 1;
        grid-row-end: 2;
        overflow-x: visible;

        position: relative;
        top: -5vw;
        /* background-color: rgba(0, 255, 255, 0.562); */
    }

    #Splash .right {
        grid-column-start: 1 / 2;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        overflow-x: hidden;
        /* background-color: rgb(149, 153, 148); */
    }

    #Splash .third {
        grid-column-start: 1 / 2;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;

        padding-top: 5vw;
        /* background-color: rgba(199, 255, 94, 0.356); */
    }

    #what_can_i_do>div {
        margin-bottom: 3vw;
    }

    #Splash h2 {
        text-align: left;
        margin: 0 0 3vw 0;
    }

    /*II. 1.*/
    #support_and_subscribe {
        overflow-x: hidden;
    }

    /*II.2. Contact*/
    #Contact {
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: space-between;

        padding: 10vw 5vw 10vw 5vw;

        width: 100vw;

        overflow-x: hidden;
    }

    form {
        display: flex;
        flex-direction: column;
        max-width: 86vw;
        margin: 0vw 0vw 0vw 0vw;
    }

    label {
        font-size: 4vw;

        line-height: 4vw;
        letter-spacing: 0.1vw;
        text-align: left;

        vertical-align: top;
    }

    input,
    textarea {

        font-size: 4vw;
        line-height: 4.5vw;

        border: 0.1vw;
        border-radius: 1.2vw;
        border-style: solid;

        padding: 1.5vw 2.5vw 1.5vw 2.5vw;
        margin-top: 2vw;
        margin-bottom: 5vw;

        width: 80vw;
    }

    textarea {
        min-height: 20vw;
    }

    #Contact button {
        float: right;
    }
}

/* BURGER MENU */
@media screen and (max-width:768px) {
    #NavBar {
        padding: 0;
    }

    #burger {
        display: block;
    }

    .small_icon {
        width: auto;
        height: auto;
        margin: 0;
    }

    #burger, #close {
        width: 25px;
        height: 25px;
        margin: 20px;
    }

    #NavBarDiv {
        padding: 0;
        background-color: rgb(23, 23, 28);
        position: absolute;
        overflow-y: auto;
        top: 0;
        left: -175px;
        height: 100vh;
        width: 175px;
        z-index: 100;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        transition: left, 300ms;
    }

    #NavBarDiv.open {
        left: 0;
    }

    #NavBarDiv .NavButton {
        padding: 10px 5px;
    }

    #NavBarDiv #contact_button {
        margin-bottom: 25px;
    }

    #NavBarDiv .slash {
        display: none;
    }

}